[submodule "QarenaAI"]
	path = QarenaAI
	url = https://github.com/VnTrg85/QArenaAI.git
[submodule "QarenaFe"]
	path = QarenaFe
	url = https://github.com/VnTrg85/QArenaFe.git
[submodule "QarenaBe/qarenabe"]
	path = QarenaBe/qarenabe
	url = https://github.com/VnTrg85/QArenaBE.git
